body{
    overflow-x: hidden;
    transform: translateX(0px) !important;
}
.container,.container-fluid{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.container-fluid{
    width: 100vw;
}
//nav top style
.nav-top{
    background-color: #40D8FF;
    .nav-top-link{
        a:hover{
            color: rgb(99, 105, 218) !important;
            transition: 0.3s;
        }
    }
    .hover-dark-blue{
        &:hover{
            color: rgb(99, 105, 218);
            transition: 0.3s;
            cursor: pointer;
            a{
                color: rgb(99, 105, 218) !important;
                transition: 0.3s; 
            }
        }
        .middle-nav-top-icon{
            transform: translateY(5px);
        }
    }
    @media screen and (max-width:1200px) {
        .lg-hidden{
            display: none;
        }
    }
    @media screen and (max-width:768px) {
        .sm-hidden{
            display: none !important;
        }
    }
}
//nav sticky style
#navSticky{
    z-index: 999;
}
.nav-sticky-block ul{
    display: block !important;
    opacity: 1 !important;
    #barsOpen{
        top: -6px !important;
    }
    li{
        a{
            display: block !important;
            padding-block: 6px;
        }
        @media screen and (max-width:992px) {
            &:nth-child(2){
                margin-right: 1rem !important;
            }
        }
    }
}
//modal
.modal-button{
    width: auto !important;
}
.modal-input{
    direction: rtl;
    input:placeholder-shown ~ label{
        top: 8px;
        transition: 0.3s ease;
        font-size: 16px;
        right: 12px;
    }
    input:focus ~ label,input:active ~ label{
        top: -13px;
        right: 12px;
        font-size: 14px;  
    }
    label{
        top: -13px;
        right: 12px;
        font-size: 14px;
        transition: 0.3s ease;
    }
    input{
        // margin-bottom: 1rem;
        &:nth-child(1){
            margin-bottom: 2rem;
        }
    }
}

.blue-box-1{
    height: 100px;
    aspect-ratio: 2 / 1;
    left: -100px;
    transform: translateY(-80px);
    border-radius: 0.5rem;
    opacity: 0.7;
}
.bg-custom-primary{
    background-color: #5bddff;
}
// mini card style
.bg-custom-secondary{
    background-color: #efefef;
}
.mini-cards{
    .col-2{
        div{
            height:max-content
        }
    }
}