
//nav top style
.nav-top{
    background-color: #40D8FF;

    .nav-top-link{
        a:hover{
            color: rgb(99, 105, 218) !important;
            transition: 0.3s;
        }
    }
    .hover-dark-blue{
        &:hover{
            color: rgb(99, 105, 218);
            transition: 0.3s;
            cursor: pointer;
            a{
            color: rgb(99, 105, 218) !important;
            transition: 0.3s;
                
            }
        }
        .middle-nav-top-icon{
            transform: translateY(5px);
        }
    }
    @media screen and (max-width:1200px) {
        .lg-hidden{
            display: none;
        }
    }
    @media screen and (max-width:768px) {
        .sm-hidden{
            display: none !important;
        }
    }
}