#breadcrumb {
  padding: 20px 10px 10px 20px !important;
}

#productDetail .productDetail-image {
  height: clamp(400px, 10vh, 700px);
  width: 100% !important;
}
#productDetail .productDetailDescriptopn {
  max-height: 125px;
  overflow: hidden;
}
#productDetail .product-price {
  bottom: 20px;
}
#productDetail .product-price .btn-custom-success {
  font-size: 17px;
  background-color: rgb(0, 149, 0);
}
#productDetail .product-price .reduction-box {
  background-color: #d32f2f;
  border-radius: 2rem;
  position: relative;
  top: 13px;
  font-size: 13px;
}