body {
  overflow-x: hidden;
  transform: translateX(0px) !important;
}

.container, .container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.container-fluid {
  width: 100vw;
}

.nav-top {
  background-color: #40D8FF;
}
.nav-top .nav-top-link a:hover {
  color: rgb(99, 105, 218) !important;
  transition: 0.3s;
}
.nav-top .hover-dark-blue:hover {
  color: rgb(99, 105, 218);
  transition: 0.3s;
  cursor: pointer;
}
.nav-top .hover-dark-blue:hover a {
  color: rgb(99, 105, 218) !important;
  transition: 0.3s;
}
.nav-top .hover-dark-blue .middle-nav-top-icon {
  transform: translateY(5px);
}
@media screen and (max-width: 1200px) {
  .nav-top .lg-hidden {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav-top .sm-hidden {
    display: none !important;
  }
}

#navSticky {
  z-index: 999;
  background-color: rgb(84, 128, 144);
}

.nav-sticky-block ul {
  display: block !important;
  opacity: 1 !important;
}
.nav-sticky-block ul #barsOpen {
  top: -6px !important;
}
.nav-sticky-block ul li a {
  display: block !important;
  padding-block: 6px;
}
@media screen and (max-width: 992px) {
  .nav-sticky-block ul li:nth-child(2) {
    margin-right: 1rem !important;
  }
}

.modal-custom-dialog {
  top: 50vh !important;
  transform: translate(0, -50%) !important;
}

.modal-button {
  width: auto !important;
}

.modal-input {
  direction: rtl;
}
.modal-input input:placeholder-shown ~ label {
  top: 8px;
  transition: 0.3s ease;
  font-size: 16px;
  right: 12px;
}
.modal-input input:focus ~ label, .modal-input input:active ~ label {
  top: -13px;
  right: 12px;
  font-size: 14px;
}
.modal-input label {
  top: -13px;
  right: 12px;
  font-size: 14px;
  transition: 0.3s ease;
}
.modal-input input:nth-child(1) {
  margin-bottom: 2rem;
}

.blue-box {
  height: 100px;
  aspect-ratio: 2/1;
  border-radius: 0.5rem;
  opacity: 0.7;
}

.blue-box-1 {
  left: -100px;
  transform: translateY(-80px);
}

.blue-box-2 {
  transform: translateY(-40px);
  right: -100px;
}

.bg-custom-primary {
  background-color: #5bddff;
}

.bg-custom-secondary {
  background-color: #efefef;
}

.bg-custom-info {
  background-color: #00ffd0;
}

.goods .product-cards {
  cursor: pointer;
}
.goods .product-cards .product-header {
  top: -15px;
}
.goods .product-cards:hover {
  transform: scale(1.025);
  transition: 0.4s ease;
  box-shadow: 0 0 8px 0 #8edcf6;
}
.goods .product-cards .product-image {
  display: flex;
  justify-content: center;
}
.goods .product-cards .product-image img {
  height: 200px;
}
.goods .product-cards .card-title {
  padding: 0 !important;
  width: 90% !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.goods .product-cards .card-body {
  height: 50px;
  padding: 0 !important;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}
.goods .product-cards .reduction-box {
  background-color: #d32f2f;
  border-radius: 2rem;
  font-size: 13px;
}

.footer {
  background: linear-gradient(to right, #004f80, #0072b9);
  min-height: 470px;
  padding-bottom: 0 !important;
}
.footer h2 {
  width: 100vw;
  border-top: 2px solid #ccc;
}
.footer .container .footer-heading {
  transform: translateX(-30px);
}
.footer .container #footerCategory li {
  font-size: 1.1rem;
  cursor: pointer;
}
.footer .container #footerCategory li:hover {
  transform: translateX(-10px);
  transition: 0.6s;
}
.footer .container .social-media-icons li a:hover i {
  transform: scale(1.2);
  transition: 0.4s;
}
.footer .container .gray-hover {
  filter: grayscale(1);
  height: 60px;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: 0.6s;
}
.footer .container .gray-hover:hover {
  filter: grayscale(0);
}
@media screen and (min-width: 992px) {
  .footer {
    clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 100%);
  }
  .footer .container {
    transform: translateY(150px);
  }
}

.last-text {
  background: linear-gradient(to right, #004f80, #0072b9);
}